<app-home></app-home>
<div class="text-center" *ngIf="isLogged; else loggedOut">
	<h2>Ya has iniciado sesión</h2>
</div>
<ng-template #loggedOut>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<div class="form">
				<form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
					<h2>Crea tu Cuenta</h2>
					<div class="social-container">
						<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
						<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
						<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
					</div>
					<span>o use su correo electrónico para registrarse</span>
					<input type="text" name="names" id="names" class="form-control" placeholder="Nombres"
						[(ngModel)]="names" required>
					<input type="email" name="email" id="email" class="form-control" placeholder="Correo"
						[(ngModel)]="email" required>
					<input type="text" name="userNameNew" id="userNameNew" class="form-control"
						placeholder="Nombre de Usuario" [(ngModel)]="userNameNew" required>
					<input type="password" name="passwordNew" id="passwordNew" class="form-control" placeholder="Contraseña"
						[(ngModel)]="passwordNew" required>
					<button class="btn btn-outline btn-block" [disabled]="!f.valid">Registrar</button>
				</form>
			</div>
		</div>
		<div class="form-container sign-in-container">
			<div class="form">
				<form #f1="ngForm" (ngSubmit)="onLogin()" novalidate action="/login">
					<h1>Iniciar Sesión</h1>
					<div class="social-container">
						<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
						<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
						<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
					</div>
					<span>o utilice su Cuenta</span>
					<input type="text" name="userName" id="userName" class="form-control" placeholder="Usuario"
						[(ngModel)]="userName" required>
					<input type="password" name="password" id="password" class="form-control" placeholder="Contraseña"
						[(ngModel)]="password" required>
					<a href="#">Olvidó tu contraseña ?</a>
					<button class="btn btn-outline btn-block" [disabled]="!f1.valid">
						Ingresar</button>
				</form>
			</div>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Bienvenido!</h1>
					<p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
					<button class="ghost" (click)="transition('signIn')"> Ingresar</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hola aqui puedes registrarte!</h1>
					<p>Ingrese sus datos personales para poder empezar</p>
					<button class="ghost" (click)="transition('signUp')">Regístrate</button>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<p>
			Creado <i class="fa fa-heart"></i> por
			- Andres Pinzon
		</p>
	</footer>
</ng-template>

<router-outlet></router-outlet>

<!-- <ng-template #loggedOut>
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/login">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/new">Crear Cuenta</a>
                    </li>
                    
                  </ul>
            </div>
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                    <div class="form-group">
                        <label for="userName">Nombre de Usuario</label>
                        <input type="text" name="userName" id="userName" class="form-control"
                        [(ngModel)]="userName" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" class="form-control"
                        [(ngModel)]="password" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                            <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template> -->