<!-- Modal -->
<div id="modalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva PQR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-pqr" #f="ngForm" (ngSubmit)="savePqr()" novalidate>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="codigo">Codigo</label>
              <input id="codigo" class="form-control" type="text" name="codigo" placeholder="Codigo"
                [(ngModel)]="codPqr" required>
            </div>
            <div class="form-group col-md-6">
              <label for="tipo">Tipo</label>
              <select name="tipo" id="tipo" class="form-control" [(ngModel)]="tipo" (change)="calculateFecLimt()">
                <option value="P">Peticion</option>
                <option value="Q">Queja</option>
                <option value="R">Reclamo</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="usuario">Usuario</label>
              <input id="usuario" class="form-control" type="text" name="usuario" disabled [(ngModel)]="usuario">
            </div>
            <div class="form-group col-md-6">
              <label for="estado">Estado</label>
              <select name="estado" id="estado" class="form-control" [(ngModel)]="estado">
                <option value="N">Nuevo</option>
                <option value="E">En Ejecucción</option>
                <option value="C">Cerrado</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="fecLimt" >Fecha Limite : {{fecLimt | date:'yyyy-MM-dd' }}</label>
              <!-- <input id="fecLimt" class="form-control" type="text" name="fecLimt" disabled
                      [(ngModel)]="fecLimt" required> -->

            </div>
          </div>
          <div class="form-group">
            <label for="asunto">Asunto</label>
            <textarea name="asunto" id="asunto" class="form-control" cols="50" rows="4" [(ngModel)]="asunto" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary float-right" [disabled]="!f.valid">Guardar PQR</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>