<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gestion PQR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/pqrList"><i class="far fa-list-alt"></i> Lista de PQR </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"><i class="fa fa-home" aria-hidden="true"></i> Salir </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"> </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link"  routerLink="/pqrCreate"><i class="fas fa-plus-circle"></i> Nueva PQR</a>
        </li> -->
      <!-- </ul>
    </div>
  </nav> -->
  <router-outlet></router-outlet>
  