<app-home></app-home>
<div class="row mt-2">
    <div class="col">
        <button *ngIf="isAdmin" type="button" class="btn btn-primary float-right mb" data-toggle="modal"
            data-target="#modalNew">Nueva PQR</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Asunto</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha Creacion</th>
                    <th scope="col">Fecha Limite</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reg of pqr; index as i">
                    <th scope="row"> {{i+1}}</th>
                    <td scope="col">{{reg.codPqr}}</td>
                    <td scope="col">{{reg.tipo == 'P' ? 'Peticion' : reg.tipo == 'R' ? 'Reclamo': 'Queja'}}</td>
                    <td scope="col">{{reg.asunto}}</td>
                    <td scope="col">{{reg.usuario}}</td>
                    <td scope="col">{{reg.estado}}</td>
                    <td scope="col">{{reg.fecCre  | date:'dd-MM-yyyy' }}</td>
                    <td scope="col">{{reg.fecLimt  | date:'dd-MM-yyyy'}}</td>
                    <td>
                        <button *ngIf="isAdmin" class="btn btn-primary" (click)="onPreUpdateBook(book)" data-toggle="modal"
                            data-target="#modalBook">Editar</button>
                    </td>
                    <td>
                        <a href="/pqrList" class="btn btn-danger" *ngIf="isAdmin" (click)="deletePqr(reg.id)">Elimnar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-modal></app-modal>