<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <p class="navbar-brand"> Gestion de PQR</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <h5><a class="nav-link" routerLink="/home"><i class="fas fa-home"></i> Inicio</a></h5>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <h5><a class="nav-link" routerLink="/pqrList"><i class="far fa-list-alt"></i> Lista</a></h5>
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <h5><a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a></h5>
      </li>
      <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
        <h5><a class="nav-link" style="cursor: pointer;"><i class="fas fa-door-open"></i> Cerrar Sesión</a></h5>
      </li>
    </ul>
  </div>
</nav>
<div class="container text-center">
  <div *ngIf="isLogged; else loggedOut"><h2>Bienvenido {{userName}}</h2></div>
  <ng-template #loggedOut></ng-template>
  <!-- <h2>No has iniciado sesión</h2> -->
</div>
<router-outlet></router-outlet>